.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.logo {
  margin-top: 15px;
}

.navlink {
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.navlink.w--current {
  color: #000;
}

.navlink.buy {
  background-color: #a34363;
  color: #fff;
}

.section-home-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(133, 7, 58, 0.74)), to(rgba(179, 60, 27, 0.82))), url('../images/home-image.jpg');
  background-image: linear-gradient(180deg, rgba(133, 7, 58, 0.74), rgba(179, 60, 27, 0.82)), url('../images/home-image.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.container-home-top {
  padding-top: 87px;
}

.h1-home {
  margin-top: 0px;
  margin-bottom: 11px;
  color: #fff;
  font-size: 48px;
  line-height: 1.1;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
}

.body {
  background-color: #57281f;
  font-family: Exo, sans-serif;
}

.para1-home {
  margin-bottom: 1px;
  color: #fff;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}

.para2-home {
  margin-bottom: 17px;
  color: #fff;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}

.para-col-title {
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
}

.div-number {
  height: 100px;
  padding-top: 8px;
  background-image: url('../images/circle.png');
  background-position: 50% 0px;
  background-size: 86px;
  background-repeat: no-repeat;
}

.para-number {
  color: hsla(0, 0%, 100%, 0.53);
  font-size: 60px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}

.para-go {
  margin-top: 7px;
  color: hsla(0, 0%, 100%, 0.53);
  font-size: 50px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}

.navbar {
  background-color: #fff;
  box-shadow: 6px 6px 18px 0 rgba(0, 0, 0, 0.71);
}

.div-tint {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.container-in-tint {
  padding-top: 29px;
  padding-bottom: 16px;
}

.textfield-home-top {
  width: 250px;
  float: left;
}

.div-form {
  display: block;
  width: 330px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.para-home-top-form {
  margin-bottom: 5px;
  color: #fff;
  text-align: center;
}

.submit-button-2 {
  background-color: #d5742c;
}

.h2-home {
  margin-bottom: 23px;
  font-size: 27px;
  line-height: 1.2;
  text-align: center;
}

.container-under-top-home {
  padding-top: 16px;
  padding-bottom: 30px;
}

.section-under-top-home {
  background-color: #fff;
  box-shadow: 0 -9px 11px 0 rgba(0, 0, 0, 0.41);
}

.listitem-home {
  margin-bottom: 8px;
  line-height: 1.4;
}

.bold-text-in-list-item {
  color: #8f8f33;
  font-size: 15px;
}

.h3-home {
  margin-top: 29px;
  margin-bottom: 17px;
  text-align: center;
}

.image-in-3cols {
  text-align: center;
}

.section-3-outputs {
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  background-color: #ddd;
}

.container-3-outputs {
  padding-top: 33px;
  padding-bottom: 30px;
}

.para-under-3 {
  margin-top: 5px;
  line-height: 1.4;
  text-align: center;
}

.para-title-under-3 {
  margin-top: 14px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}

.section-quotes {
  background-color: #fff;
}

.container-quotes {
  padding-top: 25px;
  padding-bottom: 25px;
}

.section-footer {
  background-color: #57281f;
}

.container-footer {
  padding-top: 28px;
  padding-bottom: 106px;
  color: hsla(0, 0%, 100%, 0.34);
  line-height: 1.2;
}

.para-copyright {
  font-size: 11px;
}

.slider-mask {
  background-color: #fff;
}

.icon-arrow {
  color: #797979;
}

.slider {
  height: 220px;
}

.slide {
  padding-right: 75px;
  padding-left: 75px;
}

.div-block {
  width: 10%;
  height: 220px;
  float: left;
}

.div-block._80 {
  width: 80%;
}

.para-quoteleft {
  font-family: 'Open Sans', sans-serif;
  color: #b6877b;
  font-size: 100px;
  line-height: 1.2;
  font-style: italic;
  font-weight: 700;
  text-align: center;
}

.rightleft-copy {
  padding-top: 144px;
  font-family: 'Open Sans', sans-serif;
  color: #b6877b;
  font-size: 70px;
  line-height: 1.2;
  font-style: italic;
  font-weight: 700;
  text-align: center;
}

.para-quote {
  padding-top: 30px;
  padding-left: 20px;
  color: #512b22;
  font-size: 22px;
  line-height: 1.3;
  text-align: left;
}

.para-quote-by {
  text-align: right;
}

.slide-nav {
  display: none;
}

.h4-home {
  margin-top: 29px;
  margin-bottom: 17px;
  line-height: 1.2;
  text-align: center;
}

.section-pricing {
  background-color: #fff;
}

.container-pricing {
  padding-top: 50px;
  padding-bottom: 100px;
}

.div-swtichblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-switch {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-switch-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 31px;
  margin-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #a64428;
  cursor: pointer;
}

.div-switch-right {
  width: 32px;
  height: 31px;
  margin-right: 10px;
  margin-left: -1px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #a64428;
  cursor: pointer;
}

.para-switch-label {
  margin-top: 4px;
}

.div-switch-marker {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
}

.h1-pricing {
  margin-top: 0px;
  margin-bottom: 11px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
}

.para-pricing-1 {
  margin-bottom: 26px;
  text-align: center;
}

.pricing-div-col {
  height: 540px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 27px 21px;
  border: 1px solid #c3c3c3;
  border-radius: 15px;
  background-color: #ececec;
}

.pricing-col-title {
  font-size: 26px;
  line-height: 1.2em;
  font-weight: 700;
  text-align: center;
}

.pricing-price {
  margin-bottom: 0px;
  color: #9a4931;
  font-size: 40px;
  line-height: 1.1;
  text-align: center;
}

.pricing-term {
  margin-bottom: 15px;
  color: #9a4931;
  font-size: 18px;
  line-height: 1.1;
  text-align: center;
}

.price-col1-sub {
  display: block;
  margin-bottom: 30px;
}

.para-pricing-features {
  line-height: 1.4;
  text-align: center;
}

.para-pricing-features.italic {
  margin-top: 22px;
  color: #904d37;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
}

.pricing-divider {
  height: 1px;
  margin-top: 13px;
  margin-bottom: 13px;
  background-color: #c3c3c3;
}

.button-buy {
  display: block;
  width: 130px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 6px;
  background-color: #d5742c;
  text-align: center;
  cursor: pointer;
}

.button-trial {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #9a4931;
  text-align: center;
  cursor: pointer;
}

.price-col1-perpet {
  display: none;
  margin-bottom: 30px;
}

.price-col2-sub {
  margin-bottom: 30px;
}

.price-col2-perpet {
  display: none;
  margin-bottom: 30px;
}

.price-col3-sub {
  margin-bottom: 30px;
}

.price-col3-perpet {
  display: none;
  margin-bottom: 30px;
}

.button-sub {
  display: block;
  width: 140px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 6px;
  background-color: #8f8f33;
  text-align: center;
  cursor: pointer;
}

.section-trial {
  background-color: #fff;
}

.container-trial {
  padding-top: 50px;
  padding-bottom: 250px;
}

.section-contact {
  background-color: #fff;
}

.container-contact {
  padding-top: 50px;
  padding-bottom: 100px;
}

.para-pricing-features-bold {
  font-size: 15px;
  line-height: 1.4;
  font-weight: 600;
  text-align: center;
}

.button-home {
  display: block;
  width: 240px;
  margin-right: auto;
  margin-bottom: 43px;
  margin-left: auto;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 6px;
  background-color: #ce8d92;
  box-shadow: 1px 1px 3px 0 #000;
  font-size: 17px;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.section-support {
  background-color: #fff;
}

.container-support {
  padding-top: 50px;
  padding-bottom: 100px;
}

.heading {
  margin-top: 0px;
  color: #984962;
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.section-myaccount {
  background-color: #fff;
}

.container-myaccount {
  padding-top: 50px;
  padding-bottom: 100px;
}

.checkbox-field {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.checkbox-label {
  margin-top: 3px;
  margin-left: 3px;
  float: left;
  color: #904d37;
  line-height: 1.1;
}

.divmaintenance {
  display: none;
  width: 490px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.para-desc-add-mainten {
  margin-top: 3px;
  margin-left: 10px;
  float: left;
  line-height: 1.1;
}

.divmaintenanceblank {
  display: block;
  height: 30px;
}

.para-optional-maintenance {
  margin-top: 10px;
  color: #9a4931;
  line-height: 1.2;
  text-align: center;
}

.link-text-trial {
  color: #333;
}

.h1-trial {
  margin-top: 0px;
  margin-bottom: 11px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
}

.para-centered {
  margin-top: 18px;
  margin-bottom: 23px;
  text-align: center;
}

.button-on-trialpage {
  display: block;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 7px;
  background-color: #d5742c;
  font-size: 16px;
  line-height: 1.1;
  font-weight: 500;
  text-align: center;
}

html.w-mod-js *[data-ix="home-h1"] {
  opacity: 0;
  -webkit-transform: scale(1, 0.5);
  -ms-transform: scale(1, 0.5);
  transform: scale(1, 0.5);
}

html.w-mod-js *[data-ix="para1-home"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="number-1-for"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="button-trial-home"] {
  opacity: 0;
  -webkit-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}

@media screen and (max-width: 991px) {
  .container-home-top {
    padding-top: 39px;
  }
  .para1-home {
    margin-bottom: 8px;
  }
  .para-quote {
    font-size: 20px;
  }
  .pricing-div-col {
    height: 560px;
  }
  .bullet-list-home {
    padding-right: 15px;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    margin-left: 10px;
  }
  .h1-home {
    font-size: 40px;
  }
  .para1-home {
    font-size: 26px;
  }
  .para2-home {
    font-size: 26px;
  }
  .container-in-tint {
    display: none;
  }
  .h2-home {
    font-size: 26px;
  }
  .container-under-top-home {
    padding-right: 15px;
    padding-left: 15px;
  }
  .container-3-outputs {
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
  }
  .container-quotes {
    display: none;
  }
  .container-footer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .para-quoteleft {
    font-size: 80px;
  }
  .rightleft-copy {
    font-size: 60px;
  }
  .para-quote {
    font-size: 16px;
  }
  .para-quote-by {
    font-size: 12px;
  }
  .container-pricing {
    padding-right: 20px;
    padding-left: 20px;
  }
  .pricing-div-col {
    height: auto;
  }
  .button-trial {
    margin-bottom: 35px;
  }
  .container-trial {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .logo {
    margin-left: 5px;
  }
  .container-home-top {
    padding-right: 10px;
    padding-left: 10px;
  }
  .h1-home {
    margin-bottom: 18px;
    font-size: 27px;
  }
  .para1-home {
    font-size: 22px;
  }
  .para2-home {
    font-size: 22px;
  }
  .h2-home {
    font-size: 22px;
  }
  .container-quotes {
    display: none;
  }
  .h4-home {
    font-size: 15px;
  }
  .container-pricing {
    padding-right: 10px;
    padding-left: 10px;
  }
  .divmaintenance {
    width: 270px;
  }
  .button-on-trialpage {
    width: 270px;
  }
}

